/****** Script for SelectTopNRows command from SSMS  ******/
insert into kompetencije0805 (
       [Id]
      ,[PrezimeIme]
      ,[Funkcija]
      ,[Mjesto_troska]
      ,[RadnoMjesto]
      ,[Vjestina]
      ,[DatumZaposlenja]
      ,[Istek_Ugovora]
      ,[Staz]
      ,[Satnica]
      ,[NedolasciNedjeljom]
      ,[NedolasciSubotom]
      ,[Bolovanje_broj]
      ,[Bolovanja_dana]
      ,[Stimulacija]
      ,[Destimulacija]
      ,[NedostajeDo8sati]
      ,[Kasni]
      ,[PreranoOtisao]
      ,[NeopravdaniDani]
      ,[NormaPosto]
      ,[Zadnji_mjesec]
      ,[Zadnje_tromjesecje]
      ,[Zadnjih_6mjeseci]
      ,[Zadnjih_12mjeseci]
      ,[Napomena]
      ,[Poduzece]
	  )
	  
  select 
   [Id]
      ,[PrezimeIme]
      ,[Funkcija]
      ,[Mjesto_troska]
      ,[RadnoMjesto]
      ,[Vjestina]
      ,[DatumZaposlenja]
      ,[Istek_Ugovora]
      ,[Staz]
      ,[Satnica]
      ,[NedolasciNedjeljom]
      ,[NedolasciSubotom]
      ,[Bolovanje_broj]
      ,[Bolovanja_dana]
      ,[Stimulacija]
      ,[Destimulacija]
      ,[NedostajeDo8sati]
      ,[Kasni]
      ,[PreranoOtisao]
      ,[NeopravdaniDani]
      ,[NormaPosto]
      ,[Zadnji_mjesec]
      ,[Zadnje_tromjesecje]
      ,[Zadnjih_6mjeseci]
      ,[Zadnjih_12mjeseci]
      ,[Napomena]
      ,[Poduzece]
	  from kompetencije0305
	  


