/****** Script for SelectTopNRows command from SSMS  ******/
SELECT id_pro_kup,NazivPro,NazivProStari,KratkiNaziv,TezinaPro,VrstaObrade
  FROM [FeroApp].[dbo].[Proizvodi]
  where id_pro_kup in (
'038250012-0000',
'038660709-0000',
'038757982-0000',
'038766604-0000',
'038813432-0000',
'038965992-0000',
'038966247-0000',
'038966310-0000',
'039480259-0000',
'039480267-0000',
'039780023-0000',
'039780082-0000',
'039780112-0000',
'039780120-0000',
'039780228-0000',
'039780317-0000',
'053890019-0000',
'053890698-0000',
'055228143-0000',
'055256449-0000',
'056247354-0000',
'056247400-0000',
'056938209-0000',
'056938462-0000',
'056961332-0000',
'056961359-0000',
'058180540-0000',
'059362804-0000',
'059363177-0000',
'061206946-0000',
'061207454-0000',
'065204751-0000',
'065204921-0000',
'065731182-0000',
'065731220-0000',
'067956203-0000',
'067956394-0000',
'069987106-0000',
'069989664-0000',
'076136531-0000',
'076136752-0000',
'076515451-0000',
'076531104-0000',
'076551598-0000',
'076558932-0000',
'076559025-0000',
'076576264-0000',
'076581519-0000',
'076642399-0000',
'076821366-0000',
'076821617-0000',
'076821846-0000',
'076821897-0000',
'076821960-0000',
'076822036-0000',
'076822095-0000',
'076822125-0000',
'076822290-0000',
'076822591-0000',
'076822605-0000',
'076822869-0000',
'076822877-0000',
'076823113-0000',
'076823334-0000',
'076823628-0000',
'076823768-0000',
'076867870-0000',
'082228647-0000',
'082987777-0000',
'083508821-0000',
'083509062-0000',
'083511474-0000',
'084665343-0000',
'084665580-0000',
'084874724-0000',
'085748323-0000',
'085748510-0000',
'085748927-0000',
'086282107-0000',
'086283391-0000',
'086383450-0000',
'086383574-0000',
'086446959-0000',
'086447106-0000',
'086858130-0000',
'086858556-0000',
'086859200-0000',
'086864750-0000',
'086865170-0000',
'087080303-0000',
'087262100-0000',
'087305739-0000',
'087420317-0000',
'087505134-0000',
'088318982-0000',
'088319385-0000',
'088460134-0000',
'088460266-0000',
'088465390-0000',
'088468089-0000',
'088470750-0000',
'088473554-0000',
'088497984-0000',
'088630242-0000',
'088630641-0000',
'088663248-0000',
'088678580-0000',
'088679446-0000',
'088910350-0000',
'088910792-0000',
'089057252-0000',
'089074807-0000',
'089075056-0000',
'089075080-0000',
'089124995-0000',
'089125517-0000',
'089126157-0000',
'089151321-0000',
'089169212-0000',
'089169239-0000',
'089169670-0000',
'089319125-0000',
'089319133-0000',
'089708628-0000',
'089708660-0000',
'089708679-0000',
'089777310-0000',
'089777336-0000',
'089781805-0000',
'089835573-0000',
'089835611-0000',
'089842740-0000',
'089842774-0000',
'089973194-0000',
'092261566-0000',
'092261590-0000',
'092302203-0000',
'092345255-0000',
'092345271-0000',
'092352383-0000',
'092361994-0000',
'092732631-0000',
'092844936-0000',
'092858830-0000',
'092858988-0000',
'092892736-0000',
'092892752-0000',
'092892973-0000',
'093026528-0000',
'093026587-0000',
'093056443-0000',
'093056451-0000',
'093274882-0000',
'093278829-0000',
'093278950-0000',
'093278969-0000',
'093278985-0000',
'093278993-0000',
'093279078-0000',
'093279116-0000',
'093279140-0000',
'093279167-0000',
'093280505-0000',
'093280530-0000',
'093322119-0000',
'093322402-0000',
'093322470-0000',
'093322488-0000',
'093322500-0000',
'093334672-0000',
'093338279-0000',
'093338287-0000',
'093338317-0000',
'093338333-0000',
'093338368-0000',
'093338384-0000',
'093338473-0000',
'093338490-0000',
'093417934-0000',
'093435819-0000',
'093481357-0000',
'093481470-0000',
'093528981-0000',
'093643853-0000',
'093643900-0000',
'094015643-0000',
'094015651-0000',
'094028923-0000',
'094028931-0000')
AND vrstaobrade='KALJ'
order by id_pro_kup


select *
from feroapp.dbo.proizvodi
where id_pro_kup like '038660709-0000'
order by id_pro_kup
