/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [acWorker]
      ,[anId]
      ,[acDept]
      ,[acJob]
      ,[acActualEducation]
      ,[adDate]
      ,[acOccup]
      ,[acCostDrv]
      ,[acLeader]
      ,[acActive]
      ,[adDateEnd]
      ,[acIGroup]
      ,[acBank]
      ,[acBnkAcctParty]
      ,[acPaymentType]
      ,[acCreatePayOrd]
      ,[acMealsType]
      ,[anReduction]
      ,[acPayLoc]
      ,[anWrk01]
      ,[anWrk02]
      ,[anWrk03]
      ,[anWrk04]
      ,[anWrk05]
      ,[anWrk06]
      ,[anWrk07]
      ,[anWrk08]
      ,[anWrk09]
      ,[anWrk10]
      ,[anWrk11]
      ,[anWrk12]
      ,[anWrk13]
      ,[anWrk14]
      ,[anWrk15]
      ,[anWrk16]
      ,[anWrk17]
      ,[anWrk18]
      ,[anWrk19]
      ,[anWrk20]
      ,[anWrk21]
      ,[anInv00]
      ,[anInv01]
      ,[anInv10]
      ,[anInv11]
      ,[acSlryByCA]
      ,[anBnkAcctNo]
      ,[anWorkingHours]
      ,[acShiftType]
      ,[acBnkAcctType]
      ,[acBeneLOSInc]
      ,[acBeneLOS]
      ,[acRoute]
      ,[anInv20]
      ,[anInv21]
      ,[anInv30]
      ,[anInv31]
      ,[acCurrency]
      ,[anWrk22]
      ,[anWrk23]
      ,[anWrk24]
      ,[anWrk25]
      ,[anWrk26]
      ,[anWrk27]
      ,[anWrk28]
      ,[acKey28]
      ,[anWrk29]
      ,[acFC03]
      ,[acFC04]
      ,[acFC05]
      ,[acFC06]
      ,[acFC07]
      ,[acFC22]
      ,[acFC23]
      ,[acFC24]
      ,[acFC25]
      ,[acFC26]
      ,[acFC27]
      ,[acDetached]
      ,[acGrossFormula]
      ,[acPublicWork]
      ,[acOverTime]
      ,[acCTHI]
      ,[acBankUnit]
      ,[acNotice]
      ,[acEmploymentContract]
      ,[acAutoIndexVal]
      ,[acSecondEmployer]
      ,[anGross2]
      ,[acYUFormOD]
      ,[acYUStatusNS]
      ,[acCategoryInsure]
      ,[acFromNet]
      ,[anNet]
      ,[acEmploymentType]
      ,[adEmployedTo]
      ,[acFieldSA]
      ,[acFieldSB]
      ,[acFieldSC]
      ,[acFieldSD]
      ,[acFieldSE]
      ,[acFieldSF]
      ,[acFieldSG]
      ,[acFieldSH]
      ,[acFieldSI]
      ,[acFieldSJ]
      ,[anZ105]
      ,[anZ106]
      ,[acIGroupGE]
      ,[anZ602]
      ,[anHoursDTPO]
      ,[adTimeIns]
      ,[adTimeChg]
      ,[anUserIns]
      ,[anUserChg]
      ,[acNote]
      ,[adEmploymentConDate]
      ,[anBaseMinIncome]
      ,[acFirstEmp]
      ,[acNewEmpl]
      ,[acOccupSKP]
      ,[anWorkingDaysInWeek]
      ,[acProfEduc]
      ,[acCountrySend]
      ,[acPayCurrency]
      ,[acBaseContrib]
      ,[acJobCriteria]
      ,[acWorkingSaturday]
      ,[acWorkingSunday]
      ,[acIsSpecReduction]
      ,[acOwnerPrivComp]
      ,[acSecondEmpl]
      ,[acSubjectDetached]
      ,[adDateDetached]
      ,[acCompetitionClause]
      ,[adCompetitionClause]
      ,[acVersion]
      ,[acFromWorker]
      ,[anFromID]
      ,[acNewEmplSub]
      ,[adDateDetachedEnd]
      ,[acInsureType]
      ,[anQId]
      ,[acZ591IGroup]
      ,[acZ592IGroup]
      ,[anZ124]
      ,[acAlwaysInSlry]
      ,[acZ105IGroup]
      ,[acReasonType]
      ,[anEmployedPercent]
      ,[anZZO]
      ,[anPZO]
      ,[anMZO]
      ,[anOZZ]
      ,[anPPPPDID]
      ,[acBenIntAgree]
      ,[acBenIntAgreeNum]
      ,[acRelatedComp]
      ,[acColumn2]
      ,[acInsurancePIO]
      ,[acInsuranceZO]
      ,[acPayrollSendingType]
      ,[acMinSalaryReduc]
      ,[acZdoh245]
      ,[adDetachedFirst]
      ,[anDetachedCount]
      ,[acDetachedDescr]
  FROM [PantheonFxAt].[dbo].[tHR_Prsnjob]
  where acworker like 'ALIu%'


  select acworker,addate,addateend,cast(anwrk04 as varchar(15)) bruto,cast(anwrk23 as varchar(15)) satnica
  from thr_prsnjob
  order by acworker
