/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP (1000) [ID_NarS]
      ,[ID_NarZ]
      ,[PozicijaKupac]
      ,[ID_Pro]
      ,[ID_Mat]
      ,[NazivPro]
      ,[BrojSarze]
      ,[CijenaMatTona]
      ,[KolicinaNar]
      ,[Obrada1]
      ,[CijenaObrada1]
      ,[CijenaObrada1B]
      ,[CijenaObrada1C]
      ,[CijenaObrada1D]
      ,[CijenaObrada1E]
      ,[CijenaObrada1F]
      ,[CijenaObrada1G]
      ,[CijenaObrada1H]
      ,[CijenaObrada1I]
      ,[BrojRN1]
      ,[BrojNar1]
      ,[Obrada2]
      ,[CijenaObrada2]
      ,[BrojRN2]
      ,[BrojNar2]
      ,[Obrada3]
      ,[CijenaObrada3]
      ,[BrojRN3]
      ,[BrojNar3]
      ,[Obrada4]
      ,[CijenaObrada4]
      ,[BrojRN4]
      ,[BrojNar4]
      ,[Obrada5]
      ,[CijenaObrada5]
      ,[BrojRN5]
      ,[BrojNar5]
      ,[DatumIsporuke]
      ,[Z_FiRupe]
      ,[PostotakNaBrutto]
      ,[TezinaSirovcaNetto]
      ,[DodatakNaMaluSerijuNar]
      ,[DodatakNaMaluSerijuKom]
      ,[FakturnaCijena]
      ,[OznakaMatPro]
      ,[LoanPosao]
      ,[BrojRN]
      ,[BazniRN]
      ,[Aktivno]
      ,[Isporuceno]
      ,[BrojRN_Veza]
      ,[Napomena]
      ,[UserName]
      ,[DatumOtvaranjaRN]
      ,[DatumDovrsetkaRN]
      ,[KolicinaMaleSerije]
      ,[ParentRN]
      ,[Nacrt_Index]
      ,[Nacrt_ECV]
      ,[InheritParent]
      ,[KontrolaObaveznaSarza]
      ,[DatumDeaktivacijeRN]
  FROM [FeroApp].[dbo].[NarudzbeSta]


  select p.nazivpro,p.id_pro,datepart(week,datumisporuke) tjedan ,sum(kolicinanar) naruceno
  from narudzbesta n
  left join proizvodi p on p.id_pro=n.id_pro
  where p.NazivPro in
  (
  'IR.32320-A-3004',
'Z-580597-3005.IR.TR1',
'AU.33214-3005',
'F-803904-3005.AU.TR1-W220-W240F',
'F-805003.16-3204.IR.TR2I-W220-W240F',
'F-805003.16-3104.IR.TR2I-W220-W240F',
'F-805567-3104.IR.TR2I-W220-W240F',
'F-805567-3204.IR.TR2I-W220-W240F',
'Z-543562-D049.IR.TR1',
'Z-575194-D049.IR.TR1',
'Z-581079.05-D149.IR.TR2-W220',
'Z-581079.05-D249.IR.TR2-W220',
'F-803628-3104.IR.TR1-W220-W240F',
'F-805011.03-3104.IR.TR2I-W220-W240F',
'AU.T7FC060-W220-W240F-0014',
'F-805165.03-3104.AU.TR2I-W220-W240F',
'F-805165.03-3204.AU.TR2I-W220-W240F',
'F-805165.02-3104.IR.TR2I-W220-W240F',
'F-805165.02-3204.IR.TR2I-W220-W240F',
'F-805923-0123.IR.TR1-W220-W240F',
'F-805923-3204.IR.TR2I-W220-W240F',
'F-805531.01-3004.IR.TR2I',
'F-805992-0123.IR.TR2I-W220-W240F',
'F-805992-0223.IR.TR2I-W220-W240F',
'F-805533.01-3104.IR.TR2I-W220-W240F',
'F-805533.01-3204.IR.TR2I-W220-W240F',
'F-805415-0125.IR.TR1-W215-W240A',
'F-805415-0225.IR.TR1-W215-W240A',
'F-805003.01-3104.IR.TR2U1-W220-W240F',
'F-805003.01-3204.IR.TR2U1-W220-W240F',
'F-566834-0115.AU.TR2IK-W220-W240F',
'F-566834-0215.AU.TR2IK-W220-W240F',
'AU.K72487-0014',
'IR.K72212-0024',
'F-803194.26-1023.IR.TR2U1-W220-W240F',
'F-803194.26-1123.IR.TR2U1-W220-W240F',
'IR.K72200-3004',
'Z-568742-3004.IR.TR1',
'Z-575194.01-3004.AU.TR1',
'F-805733-3104.IR.TR1-W220-W240F',
'F-805733-3204.IR.TR1-W220-W240F',
'Z-568742.01-3004.AU.TR1',
'Z-572813.01-0024.IR.TR1',
'F-805011.03-3204.IR.TR1-W220-W240F',
'IR.33214-3005',
'Z-529264-3005.AU.TR1',
'IR.32314-A-3005',
'IR.33017-S1-3005',
'Z-575194-3005.IR.TR1',
'F-801785-3005.IR.TR1',
'F-803904-3005.IR.TR2-W220-W240F',
'F-805007-3104.IR.TR2-W220-W240F',
'F-803904.03-3005.IR.TR1-W220-W240F',
'F-805923-3205.IR.TR1-W220-W240F',
'Z-581079.05-3005.AU.TR2I-W220-W240F-V1',
'F-566425-3105.IR.TR1-W220-W240F',
'F-566425-3205.IR.TR1-W220-W240F',
'F-566283-3005.AU.TR1-W220-W240F',
'F-571762.01-3005.AU.TR2U1-W215',
'Z-575194.01-3005.AU.TR1',
'F-805003.01-3005.AU.TR2-W21F',
'F-805092.07-0224.IR.TR2U1-W220-W240F',
'F-803904.03-3005.IR.TR1-W220-W240F-M32A',
'F-805165-3004.AU.TR1-W220-W240F',
'Z-581079.05-3004.AU.TR1-W220-HLA',
'F-566426.01-3104.AU.TR2I-HLB',
'F-566426.01-3204.AU.TR2I-HLB',
'Z-581079.08-3204.AU.TR1-HLB',
'Z-581079.05-3005.AU.TR1-W220-W240F-HLB',
'F-600615.01-3105.IR.TR1-E1-H50YM',
'F-600615.01-3205.IR.TR1-E1-H50YM',
'F-600615.01-3001.IZWR.TR-HLA',
'Z-581079.12-3105.IR.TR2-W220',
'Z-581079.12-3205.IR.TR2-W220',
'F-805951-3005-BDL4.IR.TR1',
'AU.31313-E1-3005-BDL4',
'F-588258-3203.IR.TR1-W220-W240F',
'F-805165.09-3105.IR.TR1-W220.SAMBA',
'F-805165.09-3205.IR.TR1-W220.SAMBA',
'F-805165.09-3005.AU.TR1-W220.SAMBA',
'F-805165.07-3103.IR.TR1-W220',
'F-805165.07-3203.IR.TR1-W220',
'F-801961.13-3205.IR-TR-E1-QPS-W215F-W241',
'F-800792.10-3004.AU.TR1-W220-HLA',
'F-588258-3004.AU.TR1-W220',
'Z-581079.12-3004.AU.TR2I-W220-W240F',
'Z-581079.12-3004.AU.TR2I-W220-W240F-V2',
'F-611766-3104.AU.TR1-S0',
'F-611766-3204.AU.TR1-S0',
'Z-528983.02-3004.IR.TR1-S1',
'Z-534565-3004.IR.TR1-S1',
'F-805097-3004.IR.TR1>A',
'Z-546439-3004.AU.TR1',
'Z-546439-3004.IR.TR1',
'F-805007-3204.IR.TR2-W220-W240F',
'F-805012.06-3104.IR.TR1-W220',
'F-805012.06-3204.IR.TR1-W220',
'IR.T7FC055-E1-3004-W220',
'F-805429.01-2103.IR.TR1-W220',
'F-805429.01-2203.IR.TR1-W220',
'Z-581079.14-3105.IR.TR2-W220-W240F',
'Z-581079.14-3205.IR.TR2-W220-W240F',
'Z-581079.14-3204.IR.TR2I-W220-W240F',
'IR.T7FC070-E1-S1-3004-E1-W220-S1',
'IR.T7FC050-E1-3004-W220',
'AU.T7FC050-E1-3004-W220',
'AU.T7FC055-E1-3004-W220',
'IR.31313-E1-3005-BDL3',
'F-571762-3204.IR.TR1-W220-W240F',
'F-805012.04-3004.AU.TR2U1-W220',
'F-588258-3103.IR.TR1-W220>A',
'F-588258-3203.IR.TR1-W220>A',
'F-801961.13-3105-BDL4.IR.TR-E1-W241',
'F-801961.13-3105-BDL4.AU.TR-E1-W241',
'F-801961.13-3205-BDL4.AU.TR-E1-W241',
'F-603008-3205.IR.TR1-W215F-W241',
'F-603008-3005.AU.TR1-W215-W241',
'F-603008-3105.IR.TR1-W215-W241',
'IR.T7FC055-E1-S1-W241-3004-DL4',
'AU.T7FC055-E1-S1-W241-3004-DL4',
'IR.T7FC055-E1-W215F-3005-BDL4',
'AU.T7FC055-E1-W215F-3005-BDL4',
'F-801032-3004-DL4.AU.TR1-E1-S1-W241',
'IR.T7FC060-E1-W241-3004-DL4',
'AU.T7FC060-E1-W241-3004-DL4',
'F-588258-3004.AU.TR1-W220->A',
'IR.T7FC065-E1-W241-3004-DL4',
'AU.T7FC065-E1-W241-3004-DL4',
'F-805165.07-3004.AU.TR1-W220-W240F',
'IR.T7FC050-E1-W60-W241-3005-BDL4',
'IR.T7FC070-E1-W241-3004-DL4',
'F-805415-3005.AU.TR1-W215',
'AU.T7FC060-E1-S1-W241-3005-BDL4',
'IR.T7FC060-E1-S1-W241-3005-BDL4',
'Z-581079.14-3105.IR.TR2-W220-W240F>A',
'Z-581079.14-3205.IR.TR2-W220-W240F>A',
'Z-581079.12-3005.AU.TR2I-W220-W240F>B',
'Z-581079.12-3005.AU.TR2I-W220-W240F>C',
'IR.32217-E1-S1-3005-BDL4',
'Z-581085-3005-BDL4.AU.TR1-E1-S1',
'F-805050-3004-DL4.IR.TR1-E1-W241',
'F-805050-3004-DL4.AU.TR1-E1-W241',
'F-803904-3005.AU.TR1-W220W240F-M32A',
'F-800792.27-3005-L4.AU.TR1',
'IR.32020-X-E1-3005-BDL3>A',
'Z-581079.08-3104.AU.TR1>A',
'F-572805-0025.IR.TR2I-W220>A',
'AU.32032-X-E1-3005-BDL3>A',
'AU.T7FC070-E1-W241-3004-DL4>A',
'F-566074-3004.AU.TR2I>A',
'AU.32020-X-E1-3005-BDL3>A',
'F-566193-3105.AU.TR1-W215>B',
'F-566003-3004-E1.IR.TR1-W220>A',
'F-566193-3205.AU.TR1-W215>B',
'F-809691-3004-DL4.AU.TR1-E1-S1-W241>A',
'F-805011.04-3004.AU.TR2U1-S1>A',
'F-579205-3204.AU.TR1-W220-W240F>A',
'F-803628-3104.AU.TR2IK-W220-W240F>A',
'F-579205-3104.IR.TR1-W220-W240F>A',
'Z-581079.05-3005.AU.TR2I-W220>A',
'F-803628-3204.IR.TR1-W220-W240F',
'F-803628-3204.AU.TR2IK-W220-W240F>A',
'F-566306-3104.IR.TR2I-W220-W240F>A',
'AU.T7FC070-E1-S1-W241-3004-DL4>A',
'AU.33214-3005-H151>A',
'F-566306-3204.IR.TR2I-W220-W240F>A',
'F-803194-3004.AU.TR2-W220>A',
'F-600615.01-3005.AU.TR1-E1-H50YM>A',
'F-801961.06-3205-BDL4.IR.TR-E1-W241',
'Z-543562-3004.AU.TR1',
'IR.T7FC065-E1-S1-W241-3004-DL4',
'AU.T7FC065-E1-S1-W241-3004-DL4',
'IR.T7FC060-E1-W10-W241-3005-BDL4',
'AU.T7FC060-E1-W10-W241-3005-BDL4',
'Z-576343-3004-DL4.IR.TR1-E1',
'F-588258-3105.IR.TR1-W220-W240F>A',
'F-588258-3205.IR.TR1-W220-W240F>A',
'Z-543562-3004.IR.TR1',
'F-588258-3105.IR.TR1-W220-W240F>B',
'F-588258-3205.IR.TR1-W220-W240F>B'
  )
and datumisporuke>'2019-01-01'
and obrada2=1
group by p.nazivpro,datepart(week,datumisporuke),p.id_pro
order by nazivpro,id_pro,datepart(week,datumisporuke)