/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [ID_PNO]
      ,[Hala]
      ,[Linija]
      ,[ID_Mat]
      ,[ID_Pro]
      ,[Norma]
      ,[BrojProgPrveOper]
      ,[BrojProgDrugeOper]
      ,[ObradaA]
      ,[ObradaB]
      ,[ObradaC]
      ,[ObradaD]
      ,[ObradaE]
      ,[ObradaF]
      ,[ObradaG]
      ,[ObradaH]
      ,[ObradaI]
      ,[Napomena01]
      ,[Napomena02]
      ,[Napomena03]
      ,[Napomena04]
      ,[Napomena05]
      ,[Napomena06]
      ,[Napomena07]
      ,[Napomena08]
      ,[Napomena09]
      ,[Napomena10]
      ,[Napomena11]
      ,[Napomena12]
      ,[Napomena13]
      ,[Napomena14]
      ,[Napomena15]
      ,[MaxFiD1]
      ,[MaxFiD2]
      ,[MinVisina]
  FROM [FeroApp].[dbo].[ProizvodneNorme]
  order by id_pno desc

  use feroapp
  select *
  from proizvodnelinije l
  left join ProizvodneNorme n on l.l
