/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [id]
      ,[ime]
      ,[prezime]
      ,[DatumZaposlenja]
      ,[DatumPrestanka]
      ,[Ulica]
      ,[Grad]
      ,[Posta]
      ,[Telefon1]
      ,[Telefon2]
      ,[custid]
      ,[rfid]
      ,[rfidhex]
      ,[lokacija]
      ,[mt]
      ,[radnomjesto]
      ,[rfid2]
      ,[poduzece]
      ,[sifrarm]
      ,[rv]
      ,[Neradi]
      ,[FixnaIsplata]
  FROM [RFIND].[dbo].[radnici_2310]
  WHERE RFID LIKE '%401%'