/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [Rec No]
      ,[Radnik Id]
      ,[id2]
      ,[Obracun]
      ,[Opcina Rada]
      ,[Vro]
      ,[Opcina]
      ,[Koef Opc Por]
      ,[Ime]
      ,[Ime X]
      ,[Prezime X]
      ,[Adresa]
      ,[Posta]
      ,[Mjesto]
      ,[Mt]
      ,[Lokacija]
      ,[Jmbg]
      ,[Oib]
      ,[Rfid]
      ,[rfidhex]
      ,[r1]
      ,[r2]
      ,[rfid2]
      ,[Radna Dozvola]
      ,[Firma]
      ,[Porezna Olaksica]
      ,[Postotak Umjanjenja Poreza]
      ,[Spol]
      ,[Mjesto Rodjenja]
      ,[Grad Rodjenja]
      ,[Drzava Rodjenja]
      ,[Drzavljanstvo]
      ,[Invalid Rada]
      ,[Korisnik Mirovine]
      ,[Mjesto Rada]
      ,[Zanimanje]
      ,[Strucno Obrazovanje Radnika]
      ,[Strucna Sprema Za Obavljanje Poslova]
      ,[Radno Mjesto]
      ,[Sifra Rm]
      ,[Dnevno Radnih Sati]
      ,[Tjedno Radnih Sati]
      ,[Serijski Broj Rad Knji]
      ,[Reg Br Rad Knj]
      ,[Opcina Izdavanja Radne Knjizice]
      ,[Radni Staz Prije God]
      ,[Radni Staz Prije Mje]
      ,[Radni Staz Prije Dan]
      ,[Vrijeme Mirovanja God]
      ,[Vrijeme Mirovanja Mje]
      ,[Vrijeme Mirovanja Dan]
      ,[Nacin Zaposljavanja]
      ,[Vrijeme Probnog Roka]
      ,[Trajanje Pripravnickog Staza]
      ,[Trajanje Rada Inozemstvo]
      ,[Drzava Rada Inozemstvo]
      ,[Benificirani Staz]
      ,[Benificirani Staz Koef]
      ,[Posao Zahtjeva Utvrd Radne Sposobnosti]
      ,[Datum Prestanka Rada]
      ,[Razlog Prestanka Rada]
      ,[Radni Staz Ovdje God]
      ,[Radni Staz Ovdje Mje]
      ,[Radni Staz Ovdje Dan]
      ,[Ugovorena Zabrana Natjecanja]
      ,[Dopr Za Produzeni Mio]
      ,[Dopunski Rad]
      ,[Naziv Mjesto Dopunskog Rada]
      ,[Dnevno Radnih Sati Dopunsko]
      ,[Naziv Drugog Poslodavca]
      ,[Datum Zaposljavanja2]
      ,[Datum Prestanka Rada2]
      ,[Razlog Prestanka Rada2]
      ,[Psr User List]
      ,[Ne Radi]
  FROM [RFIND].[dbo].[rad33]
   WHERE RFID LIKE '%401%'