/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [Id]
      ,[PrezimeIme]
      ,[Funkcija]
      ,[Projekt]
      ,[Hala]
      ,[Linija]
      ,[Vještine]
      ,[Školovanje_Posto]
      ,[Mjesto_troska]
      ,[RadnoMjesto]
      ,[Vjestina]
      ,[DatumZaposlenja]
      ,[Istek_Ugovora]
      ,[Staz]
      ,[SatnicaStara]
      ,[SatnicaNovaOd]
      ,[SatnicaBruto]
      ,[SatnicaNeto]
      ,[Godisnji_ostalo]
      ,[Godisnji_dana1]
      ,[Godisnji_dana3]
      ,[Godisnji_dana6]
      ,[Godisnji_dana12]
      ,[DolasciNedjeljom1]
      ,[DolasciNedjeljom3]
      ,[DolasciNedjeljom6]
      ,[DolasciNedjeljom12]
      ,[NedolasciNedjeljom1]
      ,[DolasciPraznikom1]
      ,[DolasciPraznikom3]
      ,[DolasciPraznikom6]
      ,[DolasciPraznikom12]
      ,[NedolasciNedjeljom3]
      ,[NedolasciNedjeljom6]
      ,[NedolasciNedjeljom12]
      ,[NedolasciSubotom1]
      ,[NedolasciSubotom3]
      ,[NedolasciSubotom6]
      ,[NedolasciSubotom12]
      ,[Bolovanje_broj1]
      ,[Bolovanje_broj3]
      ,[Bolovanje_broj6]
      ,[Bolovanje_broj12]
      ,[Bolovanja_dana1]
      ,[Bolovanja_dana3]
      ,[Bolovanja_dana6]
      ,[Bolovanja_dana12]
      ,[Stimulacija1]
      ,[Stimulacija3]
      ,[Stimulacija6]
      ,[Stimulacija12]
      ,[NedostajeDo8sati1]
      ,[NedostajeDo8sati3]
      ,[NedostajeDo8sati6]
      ,[NedostajeDo8sati12]
      ,[Kasni1]
      ,[Kasni3]
      ,[Kasni6]
      ,[Kasni12]
      ,[PreranoOtisao1]
      ,[PreranoOtisao3]
      ,[PreranoOtisao6]
      ,[PreranoOtisao12]
      ,[Neopravdano_puta1]
      ,[Neopravdano_puta3]
      ,[Neopravdano_puta6]
      ,[Neopravdano_puta12]
      ,[NeopravdaniDani1]
      ,[NeopravdaniDani3]
      ,[NeopravdaniDani6]
      ,[NeopravdaniDani12]
      ,[NormaPosto1]
      ,[NormaPosto3]
      ,[NormaPosto6]
      ,[NormaPosto12]
      ,[Napomena]
      ,[Poduzece]
      ,[Korisnik]
      ,[DatumPromjene]
  FROM [RFIND].[dbo].[kompetencije_Log]



  use rfind
  update kompetencije set funkcija=j.funkcija,radnomjesto=j.radnomjesto,mjesto_troska=j.mjesto_troska,napomena=j.napomena,projekt=j.projekt,hala=j.hala,linija=j.linija,školovanje_posto=j.Školovanje_posto
  from 
  (
  select *
  from  kompetencije0310$
  ) j
  inner join kompetencije k on k.id=j.id
  where j.funkcija!=k.funkcija
  and k.id not in
  (
  select id
  from kompetencije_log
  )