/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [Id]
      ,[PrezimeIme]
      ,[Funkcija]
      ,[Mjesto_troska]
      ,[RadnoMjesto]
      ,[Vjestina]
      ,[DatumZaposlenja]
      ,[Istek_Ugovora]
      ,[Staz]
      ,[SatnicaStara]
      ,[SatnicaNovaOd]
      ,[Satnica]
      ,[SatnicaNeto1]
      ,[SatnicaNeto3]
      ,[SatnicaNeto6]
      ,[SatnicaNeto12]
      ,[NedolasciNedjeljom1]
      ,[NedolasciNedjeljom3]
      ,[NedolasciNedjeljom6]
      ,[NedolasciNedjeljom12]
      ,[NedolasciSubotom1]
      ,[NedolasciSubotom3]
      ,[NedolasciSubotom6]
      ,[NedolasciSubotom12]
      ,[Bolovanje_broj1]
      ,[Bolovanje_broj3]
      ,[Bolovanje_broj6]
      ,[Bolovanje_broj12]
      ,[Bolovanja_dana1]
      ,[Bolovanja_dana3]
      ,[Bolovanja_dana6]
      ,[Bolovanja_dana12]
      ,[Stimulacija1]
      ,[Stimulacija3]
      ,[Stimulacija6]
      ,[Stimulacija12]
      ,[NedostajeDo8sati1]
      ,[NedostajeDo8sati3]
      ,[NedostajeDo8sati6]
      ,[NedostajeDo8sati12]
      ,[Kasni1]
      ,[Kasni3]
      ,[Kasni6]
      ,[Kasni12]
      ,[PreranoOtisao1]
      ,[PreranoOtisao3]
      ,[PreranoOtisao6]
      ,[PreranoOtisao12]
      ,[Neopravdano_puta1]
      ,[Neopravdano_puta3]
      ,[Neopravdano_puta6]
      ,[Neopravdano_puta12]
      ,[NeopravdaniDani1]
      ,[NeopravdaniDani3]
      ,[NeopravdaniDani6]
      ,[NeopravdaniDani12]
      ,[NormaPosto1]
      ,[NormaPosto3]
      ,[NormaPosto6]
      ,[NormaPosto12]
      ,[Zadnji_mjesec]
      ,[Zadnje_tromjesecje]
      ,[Zadnjih_6mjeseci]
      ,[Zadnjih_12mjeseci]
      ,[Napomena]
      ,[Poduzece]
  FROM [RFIND].[dbo].[Kompetencije]



  select *
  from kompetencije
  where year(datumzaposlenja)=2016
  and nedolascinedjeljom3=0 and bolovanje_broj3=0
  and nedolascisubotom3=0
  and ( Stimulacija1>-100 and Stimulacija3>-100)
  order by id


